.aboutWe{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;

    display: flex;
    justify-content: center;

    position: relative;
}

.aboutWe .background-malha{
    background:  url('../../src/image/background/malha.png');
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.40;
}

.aboutWe div {
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;


    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
 
}

.aboutWe div img {
    
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.aboutWe div div {
    display: flex;
    flex-direction: column;
    background: none;
    margin: 160px 60px 270px 70px;
}

.aboutWe div div h1 {
    font-size: 40px;
    font-family: LEMON MILK;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 0;  
}

.aboutWe div div p {
    font-family: 'Roboto', sans-serif;
    font-weight: initial;
    font-size: 20px;
    color: white;
    text-align: left;
    
    width: 535px;
    margin: 30px 0 0;
    padding: 0;
}