.aboutWe{
    background-color:black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    position: relative;
}

.background-malha{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../src/image/background/malha.png");
    opacity: 0.4;
}

.content-aboutWe{
    width: 100%;
    color: white;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-text{
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text h1{
    font-family: LEMON MILK;
    font-weight: 500;
    font-size: 70px;
    padding: 0;
    margin: 0 0 60px 0;
}

.content-text p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
}


.img-about{
    margin: 60px;
    width: 500px;
}