.apoio .background{
    background: url("../../src/image/background/barra-apoio.png") repeat center;
    width: 100%;
}

.apoio .background h1{
    font-family: LEMON MILK;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.apoio .content{
    margin-top: 0;
    background-image: url("../../src/image/background/patrocinadores.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
}

@media (max-width: 480px) { 
    .apoio .content{
        background-image: url("../../src/image/LogosApoio/Component\ 2.png");
        background-size: 100%;
        margin-bottom: 20px;
    }

  
}
