.footer{
    background-color: #212020;
    width: 100%;
    height: 190px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.footer ul li{
   
    flex-direction: row;
}

.footer ul .links{
    display: flex;
    flex-direction: column;
}

.footer ul .endereco{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer ul .endereco p{
    margin: 0;
}

.footer ul .endereco .icon-localizacao{
    width: 47px;
    height: 47px;
}


.footer ul li .logo{
    width: 120px;
    height: 108px;
}

.footer ul li .icon-insta{
    width: 30px;
}

.footer ul li .icon-linkedin{
    width: 38px;
}

.footer ul li a, .footer ul li p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #797676;
    text-decoration: none;
}

.footer ul li .icon-localizacao{
    width: 47px;
}


@media (max-width: 400px){
    .footer ul li .logo{
        display: none;
    }

    .footer ul li a, .footer ul li p{
        font-size: 10px;
    }

    .footer ul{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .footer ul li .icon-linkedin{
        width: 22px;
    }

    .footer ul li .icon-insta{
        width: 20px;
    }

    .icon-localizacao{
        display: none;
    }
    
    
}