header {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;  
}

header img{
   width: 170px;
   height: 50px;

   margin: 10px 0;
   padding: 0;
    

}

header .navbarLink{
    display: none;
}

header ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(20px);
    
    position: absolute; 
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 2;
    list-style: none;

}

header ul .navbarLink.visible{
    display: flex;
}

header ul li a{
    text-decoration: none;
    font-family: LEMON MILK;
    font-weight: lighter;
    color: black;
    font-size: 15px;

    margin: 0 20px;   
}

.botao.none{
    visibility: hidden;
   }




/* BOTAO MENU */

label[for="bt_menu"]{
    padding: 5px;
 background-color: #222;
 color: #fff;
 font-family: Arial;
 text-align: center;
 font-size: 30px;
 cursor: pointer;
 height: 50px;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

@media (max-width: 800px) { 
    header ul{
        width: 100%;
        flex-direction: column;
        list-style: none;
        padding-bottom: 10px;
    }
   label[for="bt_menu"]{
       display: block;
   }

   #bt_menu:checked ~ .navbar{
       margin-left: 0;
   }

   .navbar{
    
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;  
   }

   .navbarLink{
       width: 100%;
       float: none;
   }

   .navbarLink:hover {
       border-bottom: black solid 1px;
   }
   
}