.history{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    
    display: flex;
}

.historia-descr h1{
    margin: 32px 0 0 0;

    text-align: center;
    font-family: LEMON MILK;
    font-weight: 500;
    font-size: 70px;

    color: #FFED00;
}

.historia-descr p{
    
    margin: 15px 27px;

    font-weight: 300;
    font-size: 22px;
}

@media (max-width: 800px) { 
    .history{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .history img{
       display: none;
    }
}