body, html{
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 100vh;
    background-image: url('../../src/image/background/main.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main div{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
} */

main div img{
    width: 200px;
    height: 180px;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    main{
        max-width: 480px ;
        height: 250px;
    }

    main div img{
        display: none;
    }
}

@media (max-width: 350px) {
    main{
        background-size: 100% 100%;
        width: 50vh;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    main{
        background-size: 100% 100%;
    }
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
}

/* Desktop grande */
@media (min-width: 1200px) {
   
}